{% extends "core/base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="core/static/core/css/css/all.min.css">
<section class="testimonios">
    <div class="testimonios_header">
        <span>Comentarios</span>
        <h1>Clientes dicen: </h1>
    </div>
</section>

    <div class="global">
        {% for elemento in lista %}
            <div class="card">
                <div class="testimonios1">
                    <p class="name">{{ elemento.name }}</p>
                    <p class="email">{{ elemento.email }}</p>
                    <p class="message">{{ elemento.message }}</p>
                </div>
                <div class="reseñas">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        {% endfor %}
    </div>

<a href="{% url 'reviews_app:reviews2' %}">Ir a reviews</a>

{% endblock %}